<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= title %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" style="color:#FD804E;" class="brand-logo">Vital Sines</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#ga">Genome</a></li>
        <li><a href="#eye">Eye Health</a></li>
        <li><a href="#fit">Fitness</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#ga">Genome</a></li>
        <li><a href="#eye">Eye Health</a></li>
        <li><a href="#fit">Fitness</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <br>
    <h5>Demo</h5>
    <div id="ga" class="section">
      <div class="card-panel">
        <h5>Genome Analysis</h5>
        <p class="light">Analyze a DNA genome file for malformities and mutations.</p>
        <form id="genome-form">
          <div class="file-field input-field">
            <div class="btn grey darken-4">
              <span>Genome File</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload a genome sequence">
            </div>
          </div>
          <button type="submit" class="btn grey darken-4">Process</button>
        </form>
        <div id="genome-result">
        </div>
      </div>
    </div>

    <div class="section">
      <div id="eye" class="card-panel">
        <h5>Eye Health Analysis</h5>
        <p class="light">Upload an image of your eye to check your eye health.</p>
        <form id="eye-form">
          <div class="file-field input-field">
            <div class="btn grey darken-4">
              <span>Eye Image</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload an eye image">
            </div>
          </div>
          <button type="submit" class="btn grey darken-4">Process</button>
        </form>
        <div id="eye-result">
        </div>
      </div>
    </div>
    
    <div id="fit" class="section">
      <div class="card-panel">
        <h5>Fitness</h5>
      </div>
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
    $( "#genome-form" ).submit(function( event ) {
      $("#genome-result").html("Genome Result:");
      event.preventDefault();
    });
    $( "#eye-form" ).submit(function( event ) {
      $("#eye-result").html("Eye Result:");
      event.preventDefault();
    });
  </script>
  </body>
</html>
