<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= title %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" style="color:#FD804E;" class="brand-logo">Vital Sines</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/demo">Genome</a></li>
        <li><a href="#eye">Eye Health</a></li>
        <li><a href="#fit">Fitness</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/demo">Genome</a></li>
        <li><a href="#eye">Eye Health</a></li>
        <li><a href="#fit">Fitness</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <br>
    <h5>Demo</h5>
    <div class="section">
      <div id="ga" class="card-panel">
        <h5>Genome Analysis</h5>
        <a href="/createtest">Add a Genome Test</a>
        <p class="light">Upload an image of your eye to check your eye health.</p>
        <form id="genome-form" method="post" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn grey darken-4">
              <span>Upload Genome File</span>
              <input type="file" id="genomeFile" name="genome-file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload a genome file" required>
            </div>
          </div>
          <button id="sample-test" name="sample-test" class="btn grey darken-4">Sample Test</button>

          <button type="submit" id="processGenome" class="btn grey darken-4">Process<i class="material-icons right">send</i></button>
        </form>
        <div id="genome-result">
        </div>
      </div>
    </div>


  <!--  Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
    function getStyleString(rep, result){

      var greenStr = " style='background: #81F781; border: 1px solid #333; border-bottom: 0px;'";
      var redStr = " style='background: #F5A9A9;border: 1px solid #333; border-bottom: 0px;'";
      if(rep == "good" && result){
        return greenStr;
      }
      // else if (rep == "good" && !result){
      //   return redStr;
      // }

      if(rep == "bad" && result){
        return redStr;
      }
      // else if (rep == "bad" && !result){
      //   return greenStr;
      // }
      return " style='background: #A9D0F5; border: 1px solid #333; border-bottom: 0px;'";

    }
    $('#sample-test').click(function(e){
      e.preventDefault();
      $("#processGenome").html("Processing...");

      $.ajax({
        type: "POST",
        url: '/sample_test',
        data: '',
        success: function(response){
        $("#processGenome").html("Process");
        var htmlString = "<ul style='border-bottom: 1px solid #333;' class='collection'>";

        for(var i in response){

          var result;
          if(response[i].result == true){
             result = '<i class="material-icons">done</i>';
          }else {
            result = '<img class="mycon" src="images/x-icon.png" alt="x">';
          }
          var item = '<span class="title">' + response[i].title +'</span><p><strong>Description</strong>: ' + response[i].description + '<br><strong>Result</strong>: ' + result + '</li>';

          var li =  "<li" + getStyleString(response[i].rep, response[i].result) + "class='collection-item avatar'><img src='images/dna.png' class='circle'>"

          li += item;

          htmlString += li;

        }

        htmlString += "</ul><br>";

        $("#genome-result").html(htmlString);


      },
        dataType: 'json'
      });

    });
    $( "#genome-form" ).submit(function( event ) {

        event.preventDefault();

        var file = $("#genomeFile")[0].files[0];

        var formData = new FormData();
        formData.append('genome-file', file, file.name);

        $("#processGenome").html("Processing...");

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                $("#processGenome").html("Process");

                var response = xhr.responseText;
                response = JSON.parse(response);

                var htmlString = "<ul class='collection'>";

                for(var i in response){

                  var result;
                  if(response[i].result == true){
                     result = '<i class="material-icons">done</i>';
                  }else {
                    result = '<img class="mycon" src="images/x-icon.png" alt="x">';
                  }
                  var item = '<span class="title">' + response[i].title +'</span><p><strong>Description</strong>: ' + response[i].description + '<br><strong>Result</strong>: ' + result + '</li>';

                  var li =  "<li" + getStyleString(response[i].rep, response[i].result) + "class='collection-item avatar'><img src='images/dna.png' class='circle'>"

                  li += item;

                  htmlString += li;

                }

                htmlString += "</ul><br>";

                $("#genome-result").html(htmlString);
            }
        }
        xhr.open('POST', '/process_genome', true);

        xhr.send(formData);

      });
    $( "#eye-form" ).submit(function( event ) {
      $("#eye-result").html("Eye Result:");
      event.preventDefault();
    });

  </script>
  </body>
</html>
