<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= title %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" style="color:#FD804E;" class="brand-logo">Vital Sines</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#ga">Genome</a></li>
        <li><a href="#eye">Eye Health</a></li>
        <li><a href="#fit">Fitness</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#ga">Genome</a></li>
        <li><a href="#eye">Eye Health</a></li>
        <li><a href="#fit">Fitness</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <br>
    <h5>Demo</h5>
    <div class="section">
      <div id="ga" class="card-panel">
        <h5>Genome Analysis</h5>
        <p class="light">Upload an image of your eye to check your eye health.</p>
        <form id="genome-form" method="post" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn grey darken-4">
              <span>Upload Genome File</span>
              <input type="file" id="genomeFile" name="genome-file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload a genome file" required>
            </div>
          </div>
          <button type="submit" id="processGenome" class="btn grey darken-4">Process<i class="material-icons right">send</i></button>
        </form>
        <div id="genome-result">
        </div>
      </div>
    </div>

    <div class="section">
      <div id="eye" class="card-panel">
        <h5>Eye Health Analysis</h5>
        <p class="light">Upload an image of your eye to check your eye health.</p>
        <form id="eye-form" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn grey darken-4">
              <span>Upload Eye Image</span>
              <input type="file" name="eye-image" accept="image/*">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload an eye image" required>
            </div>
          </div>
          <div id="say-cheese-container">
            <div id="action-buttons">
              <button class="btn grey darken-4" id="take-snapshot">Capture Eye</button>
            </div>
          </div>
          <button type="button" class="btn grey darken-4" id="capture-eye">Capture Eye<i class="material-icons right">videocam</i></button>
          <button type="submit" class="btn grey darken-4">Process<i class="material-icons right">send</i></button>
        </form>
        <div id="eye-result">
        </div>
      </div>
    </div>

    <div id="fit" class="section">
      <div class="card-panel">
        <h5>Fitness</h5>
      </div>
    </div>
  </div>


  <!--  Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src='../lib/say-cheese-1.2.0/say-cheese.js'></script>
  <script>
    $( "#genome-form" ).submit(function( event ) {

        event.preventDefault();

        var file = $("#genomeFile")[0].files[0];

        var formData = new FormData();
        formData.append('genome-file', file, file.name);

        $("#processGenome").html("Processing...");

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                $("#processGenome").html("Process");

                var response = xhr.responseText;
                response = JSON.parse(response);

                var htmlString = "<ul class='collection'>";

                for(var i in response){

                  var item = '<p><strong>Description</strong>: ' + response[i].description + '<br><strong>Result</strong>: ' + response[i].result + '</li>';

                  var li =  "<li class='collection-item avatar'><img src='images/dna.png' class='circle'>"

                  li += item;

                  htmlString += li;

                }

                htmlString += "</ul><br>";

                $("#genome-result").html(htmlString);
            }
        }
        xhr.open('POST', '/process_genome', true);

        xhr.send(formData);

      });
    $( "#eye-form" ).submit(function( event ) {
      $("#eye-result").html("Eye Result:");
      event.preventDefault();
    });
    
    $( "#capture-eye").click(function( event ) {
      var sayCheese = new SayCheese('#say-cheese-container', { audio: false, snapshots: true });

        sayCheese.on('start', function() {
          $('#action-buttons').fadeIn('fast');

          $('#take-snapshot').on('click', function(evt) {
            sayCheese.takeSnapshot();
          });
        });

        sayCheese.on('error', function(error) {

          if (error === 'NOT_SUPPORTED') {
            alert("Error: your browser doesn't support video yet!");
          } else if (error === 'AUDIO_NOT_SUPPORTED') {
            alert("Error: your browser doesn't support audio yet!");
          } else {
            alert("Error: you have to click 'allow' to try me out!");
          }
        });

        sayCheese.on('snapshot', function(snapshot) {
          var img = document.createElement('img');

          $(img).on('load', function() {
            
          });
          img.src = snapshot.toDataURL('image/png');
        });

        sayCheese.start();
      });
    });

  </script>
  </body>
</html>
