<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= title %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" style="color:#FD804E;" class="brand-logo">Vital Sines</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">About Us</a></li>
        <li><a href="/demo">Demo</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="/demo">Demo</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <img src="images/logo.png" width = "500" alt="">
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            
            <img class="card-icon center" src="images/pulse.png" alt="">
            <h5 class="center">Fitness & Wellness Analysis</h5>
            <p class="light">Utilizing a multitude of mathematical methods we can determine what current fitness level is and what areas you need to improve in.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <img class="card-icon center" src="images/eye.png" alt="">
            <h5 class="center">Eye Health Analysis</h5>

            <p class="light">Using advanced image analysis tools we can determine your eye health on the fly.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <img class="card-icon center" src="images/dna.png" alt="">
            <h5 class="center">Genomic Analysis</h5>

            <p class="light">Use our application to analyze various genomic sequences for malformities and mutations.</p>
          </div>
        </div>
      </div>
        <div class="row center">
        <img class="sponsor-img" src="images/techs/nodelogo.png" alt="">
        <img class="sponsor-img" src="images/techs/express.png" alt="">
        <img class="sponsor-img" src="images/techs/parse-logo.png" alt=""><br>
        <img class="sponsor-img" src="images/techs/epic.jpg" alt="">
        <img class="facebook-img" src="images/techs/facebook.png" alt="">
        <img class="meta-img" src="images/techs/metamind.jpg" alt="">
      </div>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer #FD804E">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">How We Got the Idea</h5>
          <p class="grey-text text-lighten-4">We were yearning for an easy to use health application that didn't require one to pay a ton of money and still gave great advice.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with &lt;3 by Eric, Kevin, Nisarga, Robert
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
